* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
}

header{
    position: fixed;
	background-color:#fff;
	z-index:1000;
	width:100%;
}

li{
    list-style: none;
}

div{
    display: block;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: justify;
}

section{
    display: block;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
a{
    text-decoration: none;
}

/*Estilos para el menu del header*/
.menu {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    text-decoration: none;
}

.menu i {
    color: #b5b5b5;
    font-size: 22px;
    
}

.menu .search {
    background-color: #efefef;
    border-radius: 5px;
    margin: 0 22px;
    width: 70%;
    padding: 10px;
}
.menu li img {
    width: 40px;
    height: 40px;
}

.menu,.sub-menu{	
    text-align: center !important;
	padding: 10px 0;
	width: 100%;
	margin: 0;
}
.menu .search i {
    color: black;
}
.menu .search input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: 0;
    width: 82%;
}
.menu .button {
    padding: 12px;
}

/*Estilos para mi submenu*/

.sub-menu {
    text-align: center;
}
.sub-menu div {
    color: #fff;
    padding: 0px 25px;
    font-weight: 700;
    border-radius: 6px;
    display: inline-block;
}
.buttom1 {
    background-color: #725E4F;
}
.buttom2 {
    background-color: #AB8B6F;
}
.buttom3{
    background-color: #8F7B66;
}
.buttom4 {
    background-color: #8F6F53;
}
.buttom5 {
    background-color: #96924B;
}
.buttom6{
    background-color: #82745C;
}
.buttom7 {
    background-color: #8F8584;
}
.buttom8 {
    background-color: #9C775C;
}
.buttom9{
    background-color: #B17E77;
}

/*Estilos para el cuerpo*/
.imagenes {
    padding: 0 80px;
    margin-top: 150px;
    -moz-column-width: 220px;
    -webkit-column-width: 220px;
    column-width: 220px;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    display:inline-block;
}
.imagenes .post {
    cursor: pointer;
    margin-bottom: 20px;
	display:inline-block;
}

.imagenes .post img{
	width:100%;
	border-radius:20px;
	
}

.imagenes .post .porcion-usuario {
    margin-top: 12px;
    font-size: 15px;
}

.imagenes .post .porcion-usuario .circulo-color {
    width: 30px;
    height: 30px;
    background-color: #d597a1;
    border-radius: 50px;
    margin-right: 3px;
    margin-top: -5px;
    text-align: center;
    float: left;
}

